<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBname" value="FRAS"></add>
    <add key="DBServer" value="SND-060001"></add>
    <add key="DBUserName" value="sa"></add>
    <add key="DBPassword" value="123456"></add>
    <add key="SysLogPath" value="E:\FRAS"></add>
    <add key="InfoLogPath" value="E:\FRA"></add>
    <add key="ReportConnectionString" value="Server=PC--20120311DCU;Initial Catalog=FRAS;Uid=sa;Pwd=sa"></add>
    <add key="CheckInWell" value="0"></add>
    <add key="CopyDataNow" value="0"></add>
    <add key="MachineType" value="machine"></add>
  </appSettings>
</configuration>